@inherits LayoutComponentBase

<div>
    <NavMenu />

    <div class="main container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CLLDiagnosticos
        </div>
    </footer>
</div>
