@code {
    private void showUserName()
    {
        string username;

        if (!AuthUser.isAuthenticated)
            username = "no está autenticado";
        else
            username = AuthUser.UserName;

        UserName = username;
    }
    protected override void OnInitialized()
    {
        showUserName();
        base.OnInitialized();
    }

    public string UserName { get; set; }
}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../img/logo1.png" height="60" />
                CLL Diagnósticos
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-0 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Diagnosticos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://localhost:44343/diagnosticos/chatbot">Generar diagnostico</a></li>
                            <li><a class="dropdown-item" href="~/diagnosticos">Listar</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://localhost:10010/reportes/reporte">Reporte</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-0 mb-0 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../img/user.png" width="40" />
                            <b>Bienvenido </b>@(UserName)<span class="caret"></span>

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="~/account/perfil">Perfil de usuario</a></li>
                            <li><a class="dropdown-item" href="~/account/logout">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>