@code {
    private void showUserName()
    {
        string username;

        if (!AuthUser.isAuthenticated)
            username = "no está autenticado";
        else
            username = AuthUser.UserName;

        UserName = username;
    }
    protected override void OnInitialized()
    {
        showUserName();
        base.OnInitialized();
    }

    public string UserName { get; set; }
}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./">
                <img src="../../img/logo1.png" height="60" />
                <b>CLL</b> Diagnósticos
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-0 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Diagnosticos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/diagnosticos/chatbot">Generar diagnostico</a></li>
                            <li><a class="dropdown-item" href="/diagnosticos">Listar</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/reportes">Reporte</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-0 mb-0 mb-lg-0">
                    <AuthorizeView>
                        <Authorized>
                            <img src="img/perfil.jpg" class="rounded-circle my-auto profile-img"/>
                            <a href="account/profile" class="nav-link">@context.User.Identity.Name</a>
                            <a href="api/account/logout" class="btn btn-outline-danger ms-1">Cerrar sesión</a>
                        </Authorized>
                        <NotAuthorized>
                            <a href="login" class="btn submit-btn text-white">Log in</a>
                            <a href="signup" class="btn btn-outline-secondary ms-1">Registrarse</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </nav>
</div>