<div class="top-row ps-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CLL Diagnósticos</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass border-end">
    <ul class="nav flex-column">
        <li class="nav-item px-3 nav-user border-bottom">
            <NavLink class="nav-link" href="perfil">
                <div class="photo-cont">
                    <img class="photo" src="img/perfil.jpg" alt="Foto de perfil">
                </div> Abraham
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="diagnosticos/chatbot">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Generar diagnóstico
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="diagnosticos/editar">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Editar diagnóstico
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="diagnosticos/visualizar">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Visualizar diagnósticos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reportes">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Reportes
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
