@model WebClient.Models.LoginViewModel

@{
    ViewData["Title"] = "Signup";
}

<h1 class="text-center">Signup</h1>
<h4 class="text-center">Regístrese para ingresar al sistema</h4>
<hr class="col-md-4 mx-auto" />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Login.Username" class="form-control" placeholder="name@example.com" />
                <label asp-for="Login.Username" class="form-label">Usuario</label>
                <span asp-validation-for="Login.Username" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Login.Password" class="form-control" type="password" placeholder="***" />
                <label asp-for="Login.Password" class="form-label">Contraseña</label>
                <span asp-validation-for="Login.Password" class="text-danger"></span>
            </div>

            <div class="mb-3 form-check">
                <label class="form-check-label" for="remember-me">Recuérdame</label>
                <input type="checkbox" class="form-check-input" id="remember-me">
            </div>

            <input class="btn text-white w-100 mb-2 submit-btn" type="submit" name="submit" value="Log in" />

            <div class="text-center">
                <a href="/signup" class="btn btn-outline-secondary w-100">Registrarse</a>
            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
